<p>
  <strong><%= t('activerecord.attributes.closing_group.name') %>:</strong>
  <%= @closing_group.name %>
</p>

<%= link_to t('.edit'), edit_closing_group_path(@closing_group) %> |
<%= link_to t('.back'), closing_groups_path %>
