// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-label {
	cursor: pointer;
	margin: 0 auto;
}

.button-checkbox {
	display: none;
}

.button-checkbox:checked ~ .button-label {
	@extend .btn-success
}

.numeric-text {
	text-align: right;
}
