body {
	background: #FFFFFF;
}

h1 {
	text-align: center;
}

#header-container {
	display: flex;
}

#left-block {
	width: 50%;
}

#right-block {
}

#estimate-title {
	border-bottom: solid 1px;
}

#customer-name {
	font-size: 1.5em;
	border-bottom: solid 1px;
}

#details {
}

