<p><%= @resource.email %> 様</p>

<p>パスワードの変更要求を頂きました。以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワード変更フォーム', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールに見覚えがない場合は無視してください。</p>
<p>上記のリンクからパスワードを変更しない限り、あなたのパスワードが変更されることはありません。</p>
